html 
*:before,
*:after {box-sizing:inherit;}

body {font: 13px arial, sans-serif, comic;
	  line-height: 1; 
	  color: black;}
	  

.aboutheader {width: 100%;
			  height: 25px;
			  font-weight: bold;
			  text-align: right; 
			  border: 1px solid black;
			  z-index: -10;
			  margin-bottom: 1px; }

#barheader {z-index:10;									      
	        width:100%;
			height:30px;
		    background-color: #FF6633;	
		    top:1px;
			font-weight: bold;
			text-align: center;
			border:2px solid #505050;}

.frontimage 

img {display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 50%;
	 height: 28em; }

#quote {width: 300px;
		border: 2px solid black;
		float: right;
		background-color: #003399;
		box-shadow: 10px 10px 5px #888888;
		color: white;}

.grid {height: 315px;
	   width:315px;}


.fixedlayout {height: 100px;
			  width: 100px;
			  border: 1.5px solid black;
			  background-color:grey;
			  float: left;}
			   





			  






        